body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(21, 9, 9);
}

.container{
    width: 40%;
    height: 50%;
    background-image: url(images/christmas-1869902_640.jpg);
    background-size: cover;
    background-position: center;
    margin: 10px auto;
    border-radius: 9px;
}

img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 2px;
    /* border-radius: 4px; */
}

.ro1{
    rotate: 2deg;
}

.ro4{
    rotate: 10deg;
}

.ro5{
    rotate: -4deg;
}

.ro6{
    rotate: 60deg;
}

p{
    display: flex;
    justify-content: center;
    color: #ffff;
    margin: 0 0 20px 90px;
    font-weight: 700;
    line-height: 1em;
    font-size: 15px;
}

.color{
    color: gold;
    margin-left: 4px;
}

.merry{
    margin: 0 0 0 400px;
    font-size: 20px;
    opacity: 0.6;
}

.first{
    font-size: 30px;
    letter-spacing: .05em;
    text-decoration: underline double #fff;
}

.second{
    font-size: 20px;
    /* letter-spacing: .02em; */
}

.third{
    color: gold;
    font-size: 18px;
    font-weight: 600;
}

.fourth{
    color: gold;
    font-weight: 700;
}

.fifth{
    color: gold;
    margin-bottom: 60px;
    margin-left: 40%;
    padding: .2em;
    background-color: #000;
    width: 200px;
    border-radius: 18px;
    height: fit-content;
}

.contact{
    color: goldenrod;
    font-weight: 700;
    margin: 0 0 5% 57%;
    text-decoration: underline;
}

@media screen and (max-width:600px) {
    body{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .container{
        margin: 0;
        width: 100%;
        /* height: 100%; */
        height: 10000px;
        border-radius: 0;
        background-position: center;
        background-size: contain;
        background-position: right;
        background-image: url(images/images12.jpeg);
    }

    img{
        margin-left: 20%;
    }

    .merry{
        margin: 0 auto;
        opacity: 1;
        font-size: 30px;
    }

    p{
        margin: 30px auto;
    }

    .fifth{
        margin: 6% auto;
        width: 90%;
    }

    .contact{
        margin-top: 15%;
        margin: 0 17%;
    }

    .ro1{
        rotate: 2deg;
    }
    
    .ro4{
        rotate: 2deg;
        margin: 0 auto;
    }
    
    .ro5{
        rotate: 1deg;
    }
    
    .ro6{
        rotate: 2deg;
        margin: 0 0 5% 0;
    }
}




